<div id="contactModal" class="about_us">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancelAbout()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
        <div class="row">
            
            <div class="col-xs-12">
                <p class="text-center"><img src="../dist/img/pop_up_img.jpg"></img></p>
                <p>Η booksecrets γεννήθηκε από την ιδέα κάθε συγγραφέας και εκδότης να μπορεί να επικοινωνεί απευθείας με τους κατόχους των βιβλίων του. Η ομάδα μας αποτελείται από νέους ανθρώπους, με πάθος για το βιβλίο και το διάβασμα, και εμπειρία σε εκδόσεις και αυτοεκδόσεις, προγραμματισμό και μάρκετινγκ. Πιστεύουμε πως κάθε βιβλίο εμπεριέχει ζωντανές σκέψεις και συναισθήματα. Ας του δώσουμε τη δυνατότητα, να συνεχίσει να μας μιλάει.</p>
            </div>
            
        </div>
        
    </div>

</div>