<div id="contactModal" ng-controller="FooterController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 inner-sec">
                <h4 class="title">Θα χαρούμε να σας εξυπηρετήσουμε!</h4>
                <form class="contact-form" angular-validator-submit="message()" name="contactForm" novalidate angular-validator>
                    <input 
                        class="form-control" 
                        type="text" 
                        name="name"
                        ng-model="contact.name"
                        required-message="'Το πεδίο είναι υποχρεωτικό'"
                        invalid-message="'Θα πρέπει να συμπληρώσετε το πεδίο του ονόματος'"
                        validate-on="dirty" 
                        placeholder="Ονοματεπώνυμο"
                        required />
                    <input 
                        class="form-control"
                        type = "email"
                        name = "email"
                        ng-model="contact.email"
                        invalid-message="'Δεν είναι πραγματική διεύθυνση email'"
                        required-message="'Το πεδίο είναι υποχρεωτικό'"
                        validate-on="dirty"
                        placeholder="Email"
                        required/>
                    <input 
                        class="form-control" 
                        type="text" 
                        name="phone"
                        ng-model="contact.phone"
                        required-message="'Το πεδίο είναι υποχρεωτικό'"
                        invalid-message="'θα πρέπει να συμπληρώσετε το πεδίο του τηλεφώνου'"
                        validate-on="dirty" 
                        placeholder="Τηλέφωνο"/>
                    <input 
                        class="form-control" 
                        type="text" 
                        name="subject"
                        ng-model="contact.subject"
                        required-message="'Το πεδίο είναι υποχρεωτικό'"
                        invalid-message="'θα πρέπει να συμπληρώσετε το θέμα του μηνύματος'"
                        validate-on="dirty" 
                        placeholder="Θέμα"
                        required />
                    <textarea 
                        name="message" 
                        rows="6"
                        ng-model="contact.message"
                        class="form-control"
                        placeholder="Μήνυμα" 
                        required></textarea>
                    <button type="submit" class="btn btn-blue-border btn-lg btn-block">Αποστολη</button>
                </form>
            </div>
            
            <div class="col-md-6 col-sm-12 col-xs-12 inner-sec">
                <h4 class="title">
                    Για οποιαδήποτε πληροφορία ή διευκρίνιση χρειάζεστε, παρακαλούμε επικοινωνήστε μαζί μας!
                </h4>
                <p>
                    <strong>Διεύθυνση:</strong><br>
                    Βασιλέως Κωνσταντίνου 5-7, <br>
                    ΤΚ 106 74<br>
                    Αθήνα
                </p>
                <p>
                   <strong>Email:</strong> <br>
                   info@booksecrets.com
                </p>    
            </div>
            
        </div>
        
    </div>

</div>