<div class="popover-info" ng-if="feed.userByCreatedByUserId.role === 'AUTHOR'">
    <div class="avatar-thumb" 
        ng-if="feed.userByCreatedByUserId.profileImage != null && feed.userByCreatedByUserId.profileImage.filePath" 
        ng-class="feed.userByCreatedByUserId.role === 'AUTHOR' ? 'rounded' : ''" 
        style="background-image: url('<% base %><% feed.userByCreatedByUserId.profileImage.filePath %>')">
    </div>    
    <a href="/author/<%feed.userByCreatedByUserId.author.id%>" target="_self"><%feed.userByCreatedByUserId.author.name%></a>
</div>

<div class="popover-info" ng-if="feed.userByCreatedByUserId.role === 'PUBLISHER'">
    <div class="avatar-thumb" 
        ng-if="feed.userByCreatedByUserId.profileImage != null && feed.userByCreatedByUserId.profileImage.filePath" 
        ng-class="feed.userByCreatedByUserId.role === 'AUTHOR' ? 'rounded' : ''" 
        style="background-image: url('<% base %><% feed.userByCreatedByUserId.profileImage.filePath %>')">
    </div>    
    <a href="/publisher/<%feed.userByCreatedByUserId.publisher.id%>" target="_self"><%feed.userByCreatedByUserId.publisher.name%></a>
</div>

<div class="popover-info" ng-if="feed.userByCreatedByUserId.role === 'MOBUSER'">
    <div class="avatar-thumb" 
        ng-if="feed.userByCreatedByUserId.profileImage != null && feed.userByCreatedByUserId.profileImage.filePath" 
        ng-class="feed.userByCreatedByUserId.role === 'MOBUSER' ? 'rounded' : ''" 
        style="background-image: url('<% base %><% feed.userByCreatedByUserId.profileImage.filePath %>')">
    </div>    
    <a href="/user/user-info/<%feed.userByCreatedByUserId.id%>" target="_self"><%feed.userByCreatedByUserId.name%></a>
</div>

<div class="popover-info" ng-if="feed.userByCreatedByUserId.role === 'SUPERADMIN'">
    <span>BOOKSECRETS</span>
</div>

<div class="clearfix"></div>