<div class="popover-info" ng-if="role === 'AUTHOR'">
    <div class="avatar-thumb rounded" 
        ng-if="secret.userByCreatedByUserId.profileImage != null && secret.userByCreatedByUserId.profileImage.filePath != ''" 
        style="background-image: url('<% base %><% secret.userByCreatedByUserId.profileImage.filePath %>')">
    </div>    
    <a href="/author/<%secret.userByCreatedByUserId.author.id%>" target="_self"><%secret.userByCreatedByUserId.author.name%></a>
</div>

<div class="popover-info" ng-if="role === 'PUBLISHER'">
    <div class="avatar-thumb" 
        ng-if="secret.userByCreatedByUserId.profileImage != null && secret.userByCreatedByUserId.profileImage.filePath != ''" 
        style="background-image: url('<% base %><% secret.userByCreatedByUserId.profileImage.filePath %>')">
    </div>    
    <a href="/publisher/<%secret.userByCreatedByUserId.publisher.id%>" target="_self"><%secret.userByCreatedByUserId.publisher.name%></a>
</div>

<div class="popover-info" ng-if="role === 'MOBUSER'">
    <div class="avatar-thumb" 
        ng-if="secret.userByCreatedByUserId.profileImage != null && secret.userByCreatedByUserId.profileImage.filePath != ''" 
        style="background-image: url('<% base %><% secret.userByCreatedByUserId.profileImage.filePath %>')">
    </div>
    
    <a href="/user/user-info/<%secret.userByCreatedByUserId.id%>" target="_self"><%secret.userByCreatedByUserId.name%></a>
</div>

<div class="popover-info" ng-if="role ==='BOOKSECRETS'">
    <span>BOOKSECRETS</span>
</div>

<div class="clearfix"></div>