<div class="popover-info" ng-if="favorite.userByCreatedByUserId.role === 'AUTHOR'">
    <div class="avatar-thumb" 
        ng-if="favorite.userByCreatedByUserId.profileImage != null && favorite.userByCreatedByUserId.profileImage.filePath" 
        ng-class="favorite.userByCreatedByUserId.role === 'AUTHOR' ? 'rounded' : ''" 
        style="background-image: url('<% base %><% favorite.userByCreatedByUserId.profileImage.filePath %>')">
    </div>    
    <a href="/author/<%favorite.userByCreatedByUserId.author.id%>" target="_self"><%favorite.userByCreatedByUserId.author.name%></a>
</div>

<div class="popover-info" ng-if="favorite.userByCreatedByUserId.role === 'PUBLISHER'">
    <div class="avatar-thumb" 
        ng-if="favorite.userByCreatedByUserId.profileImage != null && favorite.userByCreatedByUserId.profileImage.filePath" 
        ng-class="favorite.userByCreatedByUserId.role === 'AUTHOR' ? 'rounded' : ''" 
        style="background-image: url('<% base %><% favorite.userByCreatedByUserId.profileImage.filePath %>')">
    </div>    
    <a href="/publisher/<%favorite.userByCreatedByUserId.publisher.id%>" target="_self"><%favorite.userByCreatedByUserId.publisher.name%></a>
</div>

<div class="popover-info" ng-if="favorite.userByCreatedByUserId.role === 'MOBUSER'">
    <div class="avatar-thumb" 
        ng-if="favorite.userByCreatedByUserId.profileImage != null && favorite.userByCreatedByUserId.profileImage.filePath" 
        ng-class="favorite.userByCreatedByUserId.role === 'MOBUSER' ? 'rounded' : ''" 
        style="background-image: url('<% base %><% favorite.userByCreatedByUserId.profileImage.filePath %>')"></div>    
    <a href="/user/user-info/<%favorite.userByCreatedByUserId.id%>" target="_self"><%favorite.userByCreatedByUserId.name%></a>
</div>

<div class="popover-info" ng-if="favorite.userByCreatedByUserId.role === 'SUPERADMIN'">
    <span>BOOKSECRETS</span>
</div>

<div class="clearfix"></div>