<div id="newPaper" ng-controller="LogoController">
    <div class="modal-header header-newspaper">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 inner-sec">
                 <img class="modal-img-height" src="../assets/img/interviews/prwto_thema.jpg"></img>   
            </div>
        </div>
        
    </div>

</div>