<div id="contactModal" class="report">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
        <div class="row">
            
            <div class="col-xs-12">
                <p>Επιθυμώ την αναφορά αυτού του μυστικού γιατί: </p>
                
                <form name="outerForm" class="tab-form-demo" novalidate ng-submit="sendReport()" ng-init="otherShow = false">
                    <div class="radio">
                        <label>
                            <input type="radio" name="flagReason" id="reportOpt1" value="1" checked ng-click="otherShow = false" ng-model="reason">
                            <span>Το θεωρώ spam.</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flagReason" id="reportOpt2" value="2" ng-click="otherShow = false" ng-model="reason">
                            <span>Περιέχει υβριστικό περιεχόμενο.</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flagReason" id="reportOpt3" value="3" ng-click="otherShow = false" ng-model="reason">
                            <span>Δεν είναι σχετικό με το βιβλίο.</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flagReason" id="reportOpt4" value="4" ng-click="otherShow = true" ng-model="reason">
                            <span>Άλλο.</span>
                        </label>
                        <textarea 
                            ng-model="otherText" 
                            name="flagText" 
                            class="form-control ng-hide"
                            rows="5" 
                            placeholder="Εισάγετε τον λόγο αναφοράς του μυστικού..."
                            ng-show="otherShow" required></textarea>
                    </div>
                    <div class="form-group margin-top-20">
                        <button type="submit" class="btn btn-primary">Αναφορα</button>
                    </div>
                </form>
            </div>
            
        </div>
        
    </div>

</div>