<div id="contactModal" class="terms">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        
        <div class="row">
            
            <div class="col-xs-12">
                <p>Δηλώνω υπεύθυνα, ότι:</p>
                <ol class="custom-list">
                    <li>Είμαι ο/η εκδότης του βιβλίου και ο/η νόμιμος/νόμιμη κάτοχος των πνευματικών δικαιωμάτων του.</li>
                    <li>Η χρήση των υπηρεσιών από μέρους μου, οι οποίες διατίθενται μέσω της παρούσας διαδικτυακής πλατφόρμας, είναι σε αυστηρή συμμόρφωση με τις οδηγίες της booksecret, με τους γενικούς όρους χρήσης, σύμφωνη με τους ισχύοντες νόμους και κανονισμούς (συμπεριλαμβανομένων τυχόν εθνικών νόμων ή κανονισμών) και δεν παραβιάζει ή ιδιοποιείται τα δικαιώματα πνευματικής ιδιοκτησίας οποιουδήποτε τρίτου μέρους.</li>
                    <li>Οι πληροφορίες εγγραφής μου είναι ακριβείς, σωστές και ενημερωμένες.</li>
                    <li>Είμαι αποκλειστικά υπεύθυνος/η για όλες τις δραστηριότητες που λαμβάνουν χώρα μέσω του λογαριασμού μου.</li>
                    <li>Ως μέρος της διαδικασίας εγγραφής ή ως μέρος της συνεχιζόμενης χρήσης των υπηρεσιών, ενδέχεται να πρέπει να παρέχω περαιτέρω πληροφορίες στη booksecrets.</li>
                </ol>
            </div>
            
            <div class="col-xs-12 margin-top-20 text-right">
                <button class="btn btn-default" ng-click="disagree()">ΑΚΥΡΩΣΗ</button>
                <button class="btn btn-primary" ng-click="agree()">ΣΥΜΦΩΝΩ</button>
            </div>
            
        </div>
        
    </div>

</div>