@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?1g0ewx');
	src:url('../fonts/icomoon.eot?1g0ewx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?1g0ewx') format('truetype'),
		url('../fonts/icomoon.woff?1g0ewx') format('woff'),
		url('../fonts/icomoon.svg?1g0ewx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart-full:before {
    content: "\e912";
}
.icon-pencil:before {
    content: "\e913";
}
.icon-stats:before {
    content: "\e914";
}
.icon-mic:before {
    content: "\e911";
}
.icon-photo:before {
    content: "\e90f";
}
.icon-voice:before {
    content: "\e910";
}
.icon-un-fav:before {
    content: "\e90e";
}
.icon-camera:before {
    content: "\e908";
}
.icon-fav:before {
    content: "\e909";
}
.icon-feed:before {
    content: "\e90a";
}
.icon-flag:before {
    content: "\e90b";
}
.icon-library:before {
    content: "\e90c";
}
.icon-locked:before {
    content: "\e90d";
}
.icon-books:before {
    content: "\e905";
}
.icon-eye:before {
    content: "\e906";
}
.icon-logo:before {
    content: "\e902";
}
.icon-bluepinch_new:before {
    content: "\e903";
}
.icon-b_letter:before {
    content: "\e904";
}
.icon-arrow2:before {
    content: "\e907";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-ribbon:before {
    content: "\e901";
}
