@import 'variables.scss';

.button {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px;
	padding: 5px 12px;
	cursor: pointer;
	outline: none;
	font-size: 13px;
	text-decoration: none !important;
	text-align: center;
	color:#fff;
	background-color: $main-blue;
	border: 1px solid #4787ED;
    box-shadow: 0 1px 3px #BFBFBF;
    &:hover{
        box-shadow: inset 0px 1px 1px #8C8C8C;
    }
    &.disabled{
        box-shadow:none;
        opacity:0.7;
    }
    &.pending {
        > span {
            display: none;
        }
        
        .plotlybars-wrapper {
            position: relative;
            width: 85px;
            height: 20px;
            
            .plotlybars {
                padding: 0 10px;
                vertical-align: bottom;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                box-sizing: border-box;
                
                .plotlybars-bar {
                    background-color: #fff;
                    height: 100%;
                    width: 12%;
                    position: absolute;
                    
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                    animation-timing-function: linear;
                    
                    -webkit-animation-duration: 1.5s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-direction: normal;
                    -webkit-animation-timing-function: linear;
                    
                    -moz-animation-duration: 1.5s;
                    -moz-animation-iteration-count: infinite;
                    -moz-animation-direction: normal;
                    -moz-animation-timing-function: linear;
                    
                    -o-animation-duration: 1.5s;
                    -o-animation-iteration-count: infinite;
                    -o-animation-direction: normal;
                    -o-animation-timing-function: linear;
                                   
                    &.b1 { left: 0%; top: 88%; animation-name: b1; -webkit-animation-name: b1; -moz-animation-name: b1; -o-animation-name: b1;}
                    &.b2 { left: 14.3%; top: 76%; animation-name: b2; -webkit-animation-name: b2; -moz-animation-name: b2; -o-animation-name: b2;}
                    &.b3 { left: 28.6%; top: 16%; animation-name: b3; -webkit-animation-name: b3; -moz-animation-name: b3; -o-animation-name: b3;}
                    &.b4 { left: 42.9%; top: 40%; animation-name: b4; -webkit-animation-name: b4; -moz-animation-name: b4; -o-animation-name: b4;}
                    &.b5 { left: 57.2%; top: 26%; animation-name: b5; -webkit-animation-name: b5; -moz-animation-name: b5; -o-animation-name: b5;}
                    &.b6 { left: 71.5%; top: 67%; animation-name: b6; -webkit-animation-name: b6; -moz-animation-name: b6; -o-animation-name: b6;}
                    &.b7 { left: 85.8%; top: 89%; animation-name: b7; -webkit-animation-name: b7; -moz-animation-name: b7; -o-animation-name: b7;}
                }
            }
        }
    }
}

a.button {
	color: #fff;
}
// style="margin-top: 15px; padding: 10px; text-align: center; background: #00aeef; color: #fff;"
.add-button {
    text-align: center;
    cursor: pointer;    
    border-radius: 4px;
    background-color:#00aeef;
    border: none;
    padding: 10px;
    color: #fff;
    transition: all 0.5s;
    margin: 0 5px;

    span {
        cursor: pointer;
        color: #fff!important;
        font-size: 14px;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:before {
            content: '+';
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            opacity: 0;
            top: 0;
            left: -15px;
            transition: 0.5s;
        }
        
    }
    &:hover {
        span {
            padding-left: 15px;

            &:before {
                opacity: 1;
                left: 0;
            }
        }
    }
  }



.btn {
    border-radius: 0;
    padding: 8px 12px;
    @extend .transition;  
    border: none;
    outline: none !important;
    font-weight: 300;
    text-transform: uppercase;
    
    &.btn-lg {
        padding: 14px 20px;
    }
    
    &.btn-primary {
        background-color: $main-blue;
    }
    
    &.btn-secondary {
        background-color: $secondary;
        color: $white;
    }
    
    &.btn-success{
        background-color: $main-blue;
    }
    
    &.btn-default {
        background-color: $dark-gray;       
        color: $white;
    }
    
    &.btn-padding {
        padding: 8px 30px;
    }
    
    &.btn-green {
        background-color: $palette-green;
        color: $white;
        box-shadow: none;
    }
    
    &.secret-btn {
        color: $main-blue !important;
        text-transform: initial;
        font-weight: 400;        
        > span{
            font-size: 14px;
            display: block;
            text-align: center;
            color: #fff !important;
            background: $main-blue;
            width: 33px;
            margin: 0 auto 5px;
            border-radius: 100%;
            padding: 6px 4px;
        }
        
        &.gray {
            color: $actions-gray !important;
            > span {
                background: $actions-gray;
            }
        }
    }
    
    &.btn-empty {
        background: none;
        border: none;
        font-weight: 400;
        text-transform: initial;
        box-shadow: none !important;        
        &.load-btn{
            color: $main-blue;
        }
    }
    
    &.btn-facebook {
        background: none;
        border: 1px solid $facebook;
        color: $facebook;
        position: relative;        
        &:before{
            content: "\f09a";
            font-family: fontAwesome;
            position: absolute;
            left: 0;
            display: table-cell;
            width: 15%;
            height: 90%;
            top: 0;
            vertical-align: middle;
            font-size: 22px;
            line-height: 34px;
            border-right: 1px solid rgba(255, 255, 255, 0.45);
            border-color: $facebook;
            height: 100%;
            line-height: 51px;
        }
    }
    
    &.btn-blue-border {
        background: #fff;
        border: 1px solid $main-blue;
        color: $main-blue;
    }
    
    &:hover{       
        opacity: 0.8;
    }
}
