.error-page {
    background-color: #77D3EA;
    background-image: url('../img/404.jpg');
    @extend .background-cover;
    position: relative;
    height: 100%;
    
    .error-wrap {
        margin-top: 20%;
        color: #fff;   
        
        h1 {
            font-size: 10em;
            font-weight: 700;
            margin-bottom: 45px;
            text-align: right;
        }
        
        h4{
            margin-top: 50px;
            font-size: 3.2em;
            font-weight: 300;
        }
        
        .btn-empty {
            display: block;
            color: #77D3EA;
            background: #fff;
            border: 1px solid #fff;
            width: 40%;
            margin: 0 auto;
        }
    }
}