#footer {
    background: $very-light-gray;
    position: relative;
    padding-top: 0;
    clear: both;
    
    .terms{
        color: $main-black;
    }
    
    .footer-wrap{
        > div{
            &:first-child{
                margin-top: -11px;
                margin-bottom: 50px;
            }
            
            &:last-child{
                text-align: center;
                margin: 35px 0;
                font-weight: 300;
            }
        }
        
        p{
            font-weight: 300;
            line-height: 27px;
            font-size: 16px;
        }
        
        ul{
            margin: 0;
            > li {
                margin-bottom: 5px;
                > a{
                    color: $main-blue;
                    font-weight: 300;
                    line-height: 27px;
                    font-size: 16px;
                    outline: none !important;
                    
                    &:hover{
                        color: $main-black;
                    }
                }
            }
            
            &.social-wrap{
                margin-top: 20px;
                > li{
                    display: inline-block;
                    padding-right: 10px;
                    > a{
                        font-size: 22px;
                        color: $main-black;
                    }
                }
            }
        }
        
    }
    
    &:before{
        content: "";
        position: absolute;
        width: 98%;
        height: 1px;
        background: #d8d8d8;
        display: block;
        top: 0;
        left: 1%;
    }
}

@media only screen and (max-width : 992px) {
    #footer .footer-wrap {
        > .col-xs-12 {
            text-align: center;
            &:nth-child(2){
                > .list-unstyled > li{
                    display: inline-block;
                }
            }
        }
    }
}