.form-control {
    position: relative;
    display: block;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    border: 1px solid $border-gray;
    height: 50px;
    box-shadow: none;
    
    &:focus{
        box-shadow: none;
    }
}

// checkboxes
.checkbox label {
    cursor: pointer;
    padding-left: 0;  
    
    span {
        font-size: 14px !important;
        line-height: 20px !important;
        font-weight: 300;
        font-style: italic;
        
        &:before {
            margin-right: 4px;
            padding-left: 1px;
            width: 18px;
            height: 18px;
            border: 1px solid $gray;
            display: inline-block;
            line-height: 16px;
            content: '';
            float: left;
        }
    }
          
    input[type="checkbox"] {
        display: none;
        
        &:checked + span::before {
          font-family: fontAwesome;
          content: '\f00c';
          color: $main-blue;
        }
    }
    
}

.radio label {
    cursor: pointer;
    padding-left: 0;  
    
    span{
        font-size: 14px !important;
        line-height: 20px !important;
        font-weight: 300;
        
        &:before {
            margin-right: 4px;
            padding-left: 1px;
            display: inline-block;
            line-height: 19px;
            content: '\f10c';
            float: left;
            font-size: 16px;
            font-family: fontAwesome;
            color: $main-blue;
        }
    }

    input[type="radio"] {
        display: none;
        
        &:checked + span::before {
          content: '\f192';
        }
    }
}