#header{
    .navbar{
        min-height: 36px;
        height: 50px;
        margin-bottom: 0;
        
        &.navbar-default{
            background: none;
            border: none;
            border-radius: 0;
            
            .navbar-brand{
                display: inline-block;
                padding: 0;
                position: absolute;
                bottom: -10px;
                
                > img{
                    max-height: 100%;
                }
            }
            
            &.logged{
                background-color: $main-blue;
                
                .dropdown.dropdown-menu{
                    li{
                        color: $main-black;
                        padding: 5px 10px;
                        list-style: none;
                        a {
                            color: $main-black;
                            font-weight: 300;
                            
                            &:hover{
                                background: none;
                            }
                        }
                        
                        &.active{
                            > a{
                                background: none;
                                color: $main-blue;
                            }
                        }
                        
                        &:last-child{
                            border-top: 1px solid $border-gray;
                        }
                    }
                }
            }
            
            &.logged-out{
                height: 70px;
                position: relative;
                
                .navbar-brand{
                    display: inline-block;
                    background: $main-blue;
                    padding: 20px 0 0;
                    bottom: 0;
                    top: 0;
                    height: 90px;
                    width: 250px;
                    text-align: center;
                    
                    > img{
                        max-height: 100%;
                        text-align: center;
                        width: auto;
                        height: 100%;
                        margin-top: 14px;
                    }
                }
                
                .navbar-nav{
                    > li{
                        padding: 30px 5px;
                        color: $main-black;
                        font-weight: 300;
                        
                        > a {
                            color: $main-black;
                        }
                        
                        
                        &.log-parent{
                            padding: 0;
                        }
                    }
                }
            }
            
            .navbar-nav{
                li{
                    padding: 15px 2px;
                    color: $white;
                    
                    >a{
                        padding: 0;
                        color: $white;
                        
                        &.login-wrap{
                            margin: 0 8px;
                            padding: 8px 14px;
                            box-shadow: none;
                            
                            &:hover{
                                background-color: $main-blue;
                                color: $white;
                            }
                            
                            &:focus, &:active, &:visited{
                                background-color: $main-blue;
                                color: $white;
                            }
                        }
                    }
                    
                    &.cog{
                        padding: 8px 0 8px 34px;
                        > a, .btn{
                            padding: 0;
                            color: $white;
                            > i{
                                font-size: 34px;
                            }
                        }
                    }
                }
            }
            
            // .container{
            //     position: relative;
            // }
        }
        
    }
}

.dropdown-menu { 
    min-width: 180px!important;
}
@media only screen and (max-width: 768px) {
    
    #header {
        .navbar.logged{
            height: auto;
            
            .navbar-brand {
                position: initial;
                width: 100%;
                text-align: center;
            }
            
            .nav.navbar-right{
                text-align: center;
                margin: 0;
                
                > li {
                    display: inline-block;
                    margin: 0 10px;
                    
                    &.cog.dropdown{
                        padding: initial;
                        z-index: 1000;
                        
                        .dropdown-menu {
                            min-width: 180px!important;
                            display: block;
                            opacity: 0;
                            border: 1px solid #d3d3d3;
                            margin-top: 15px;
                            position: fixed;
                            left: -50%;
                            top: -15px;
                            width: 0%;
                            height: 100%;
                            background: #fff;
                            @include easingTimingFunction();
                            @include transform(translateX(-60px)); 
                            @include transitionDuration(250ms);
                            
                            > li{
                                opacity: 0;
                                background: #fff;
                            }
                        }
                        
                        &.open {
                            .dropdown-menu{
                                @include transform(translateX(0));
                                opacity: 1;	
                                width: 50%;
                                left: 0%;
                                    
                                > li{
                                    opacity: 1;	
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        
        .navbar.logged-out {
            #sign_menu {
                float: right;
                
                > .navbar-nav {
                    margin: 10px 0;
                    > li {
                        padding: 10px 5px;
                        
                        &:nth-child(2){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}