.padding-top-30 { 
    padding-top: 30px; 
}

.padding-top-50 { 
    padding-top: 50px; 
}

.padding-right-10 { 
    padding-right: 10px;
}

.padding015 { 
    padding: 0 15px;
}

.margin-top-10 { 
    margin-top: 10px; 
}

.margin-top-20 { 
    margin-top: 20px; 
}

.margin-top-40 { 
    margin-top: 40px; 
}

.gray { 
    color: $gray; 
} 

.blue {
    color: $main-blue;
}

.rounded { 
    border-radius: 100%; 
}

.center { 
    text-align: center; 
}