@mixin easingTimingFunction () {
    -webkit-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -moz-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -ms-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -o-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
    
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin transform ($value) {
	transform: $value;
	-ms-transform: $value;
	-webkit-transform: $value;
}


@mixin transitionDuration ($duration) {
	transition-duration: $duration;
	-webkit-transition-duration: $duration;
}