// owl-controls
.owl-controls {
    
    .owl-pagination {
        position: absolute;
        left: 0;
        bottom: 0px;
        
        .owl-page {
            background: url('../img/bullet.png') no-repeat;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            
            &.active{
                background: url('../img/bullet-active.png') no-repeat;
            }
        }
    }
    
    .owl-buttons {
        position: absolute;
        right: 0;
        bottom: 0px;
        height: 40px;
        
        .owl-prev, .owl-next {
            color: transparent;
            opacity: 1;
            bottom: 0;
            width: 30px;
            height: 30px;
            display: inline-block;
            opacity: 0.8;
            
            &:hover {
                opacity: 1;
            }
            
            &:before {
                font-family: fontAwesome;
                content: "\f061";
                display: block;
                width: inherit;
                height: inherit;
                color: $main-blue;
                font-size: 18px;
                line-height: 28px;
                position: absolute;
                text-align: center;
                border: 1px solid $main-blue;
            }
        }
        
        .owl-prev {
            left: 0;
            margin-right: 10px;
            
            &:before {
                font-family: fontAwesome;
                content: "\f060";
            }
        }
        
        .owl-next {
            right: 0;
        }
        
    }
}
