.popover-content {
    position: relative;
    
    .avatar-thumb{
        @extend .background-cover;
        width: 60px;
        height: 60px;
        float: left;
        margin-right: 10px;
    }
    
    .popover-info {
        width: 100%;
        float: left;
        word-break: break-word;
    }
}
