#redactor-modal {
    
    #redactor-modal-body {
        
        .content{
            padding: 30px 40px;
        }
        
        .video-recorder-outer {
            margin: 10px auto;
        }
        
        #audio {
            display: block;
            margin-bottom: 15px;
            width: 100%;
        }
        
        .mp3_load {
            .loader {
                margin-left: 5px;                
                .ball-clip-rotate > div {
                    height: 15px;
                    width: 15px;
                }
            }
            
            .error_msg {
                margin-left: 5px;
            }
        }
        
    }   
}