form.signupForm {
    .form-control {
        height: 60px;
        margin-bottom: 10px;
        background: none;
        border: 1px solid $border-gray;
        font-weight: 300;
        font-size: 16px;
    }
    
    textarea.form-control {
        height: auto;
        resize: vertical;
    }
    
    .btn{
        &.btn-primary{
            margin-top: 40px;
        }
        
        &.btn-back{
            padding: 8px 0;
            float: left;
            color: $main-blue;
        }
    }
    
    .forgot-wrap {
        .checkbox {
            margin: 0;
            float: right;
            
            span {
                color: $main-blue;
            }
        }
    }
    
    #step3, #step4, #stepPub3, #stepPub4{
        .search-wrap{
            position: relative;
            
            .form-control{
                padding-right: 40px;
            }
            
            .btn-search{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 30px;
                line-height: 43px;
                color: $main-blue;
            }
        }
        
        h5 {
            text-align: left;
            font-weight: 300;
        }
        
        .books-row{
            max-height: 350px;
            overflow-y: auto;
            
            > li {
                margin-top: 10px;
                margin-bottom: 10px;
                height: 150px;
                
                > div{
                    @extend .background-cover;
                    height: inherit;
                    
                    > img{
                        max-width: 100%;
                        max-height: 100%;
                        visibility: hidden;
                    }
                }
                
                &.selected > div {
                    -webkit-box-shadow: inset 0px 0px 0px 5px $main-blue;
                    -moz-box-shadow: inset 0px 0px 0px 5px $main-blue;
                    box-shadow: inset 0px 0px 0px 5px $main-blue;                                
                }
                
            }
        }
    }
}

#signup_wrapper {
    #signup-header {
        width: 100%;
        height: 70px;
        background-color: $main-blue;
    
        .brand {
            color: #fff;
            font-weight: 900;
            font-size: 60px;
        }
    }
    
    .container {
        margin-top: 40px;
        margin-bottom: 40px;
        
        h1.title {
            margin-bottom: 30px;
            font-size: 26px;
        }
        
        .signupForm {
            font-weight: 300;
            
            .form-signup {
                margin-bottom: 10px;
                outline: none !important;
                border: none;
                border-bottom: 1px solid #8b8b8b;
            }
            
            hr {
                border-color: transparent;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            
            .recaptcha-wrap {
                margin-top: 30px;
                margin-bottom: 10px;
            }
            
            label {
                font-weight: 300;
            }
            
            .tabs-wrap {
                > span:first-child {
                    float: left;
                    margin-right: 10px;
                }
                
                .nav-tabs {
                    border: none;
                    
                    > li {
                        > a {
                            color: $gray;
                            padding: 0 4px;
                            border: none;
                            
                            &:hover{
                                background: none;
                                border: none;
                                color: $main-blue;
                            }
                        }
                        
                        &.active {
                            > a{
                                color: $main-blue;
                                text-decoration: underline; 
                                border: none;
                            }
                        }
                        
                        &:nth-child(2) {
                            position: relative;
                            
                            > a {
                                margin-left: 4px;
                                margin-right: 4px;
                            }
                            
                            &:before, &:after {
                                content: "/";
                                position: absolute;
                                color: $gray;
                                top: 0;
                            }
                            
                            &:before {
                                left:  0;
                            }
                            
                            &:after {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    
    form.signupForm .forgot-wrap .checkbox {
        width: 100%;
        margin-top: 10px;
    }
}