// colors
$main-black: #2f2f2f;
$sidebar-black: #2f3032;
$home-blue: #E9F4FB;
$main-blue: #00aeef;
$main-green: #b0cc62;
$main-gray: #8d8d8d;
$sec-green: #87bc92;
$sec-blue: #6a92a4;
$sec-darkblue: #006587;
$orange: #ffceba;
$yellow: #eddea4;
$white: #fff;
$gwhite: #f4f4f4;
$sidebar-gray: #747675;
$light-gray: #ededed;
$light-grayII: #eaeaea;
$text-gray: #848484;
$gray: #b6b2b3;
$dark-gray: #424345;
$border-gray: #d3d3d3;
$secondary: #61879a;
$feedwhite: #f9f9f9;
$secretred: #ea644e;
$rating-gold: #fecf00;
$very-light-gray: #f7f7f7;
$actions-gray: #7d7d7d;
$input-gray: #b5b5b5;
$title-gray: #5f5f5f;

$facebook: #3B5998;
$twitter: #55acee;
$linkedin: #0077b5;

// palette
$palette-purple: #9400a1; 
$palette-green: #00ac53;
$palette-red: #d52b1c;
$palette-gray: #cacaca;
$palette-red: #ba3218;
$palette-orange: #ffa500;